/* variables */
$color-principal: #00524B;
$color-1: #F3DFC1;
$color-2: white;
$letra: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;