*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #00524B;
    }

/* mobile first */

/* HEADERS */
/* ****HEADER__TITULO**** */
.header__titulo{
    display: none;
}

/* HEADER LOGO MOBILE */
.header__logo{
    background-image: url(./img/header.png);
    padding: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  /* ****HEADER__SUBTITULO**** */
.header__subtitulo{
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 1rem;
    color: white;
}
.header__frase{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: right;
    padding-bottom: 1rem;
    padding-right: 1.2rem;
} 

/* ****HEADER__NAV**** */
.header__nav{
    padding: 0.5rem;
    list-style-type: none;
    text-align: center;
}
.header__nav li{
    display: inline-block;
    margin: 0.5rem;
}
.header__nav a{
    text-decoration: none;
    color: #F3DFC1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 0.2rem;
}

/* MAINS */
/* ****MAIN INDEX**** */
.main__imagenes{
    display: flex;
    flex-direction: column;
}
.main__imagenes img{
    width: 100%;
    height: auto;
}
.main__imagenes img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

/* ****H4S**** */
.h4{
    color: #F3DFC1;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

/* ****MAIN PS**** */
.main__p{
    color: #F3DFC1;
    font-size: 0.9rem;
    text-align: center;
    margin: 0.7rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* ****MAIN TIENDA**** */
.mainTienda{
    color: #F3DFC1;
    font-size: 0.9rem;
} 
.mainTienda__form{
    margin: 1rem;
}
.mainTienda__cuadro{
    padding: 1rem;
    border: 0.2rem solid white;
}
.mainTienda__leyenda{
    display: none;
}
.mainTienda__ul{
    margin: 0.5rem;
    list-style-type: none;
    text-align: center;
}
.mainTienda__ul li{
    margin-bottom: 1.5rem;   
    padding: 0.5rem;
}
.mainTienda__ul img{
    width: 10rem;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mainTienda__ul img:hover{
    transform: scale(1.2);
    transition: 1s;
}
.mainTienda__select{
    color: #00524B;
}

.mainTienda__panmolde{
    display: flex;
    flex-wrap: nowrap;
}
.mainTienda__li--moldeblanco{
    margin-top: 1.3rem;
}
.mainTienda__masamadre{
    display: flex;
    flex-wrap: nowrap;
}
.mainTienda__budin{
    display: flex;
    flex-wrap: nowrap;
}
.mainTienda__dulce{
    display: flex;
    flex-wrap: nowrap;
}
.mainTienda__otros{
    display: flex;
    flex-wrap: nowrap;
}

.mainTienda__datos{
    margin-top: 1.5rem;
}
.mainTienda__datos label{
    padding: 0.5rem;
}
.mainTienda__datos input{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mainTienda__datos textarea{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
}
.mainTienda__boton{
    background-color:#00524B;
    border: 0.5rem solid #00524B;
    color: #F3DFC1;
    cursor: pointer;
} 
.mainTienda__pedidolisto{
    display: none;
}

/* ****MAIN QUIENES**** */
.mainQuienes{
    margin-bottom: 2rem;
}
.mainQuienes__a{
    text-decoration: none;
    color: white;
}
.mainQuienes__blanco{
    color: white;
    font-size: 1rem;
}

/* ****MAIN CONTACTO**** */
.mainContacto{
    color: #F3DFC1;
    font-size: 0.9rem;
}
.mainContacto__form{
    margin: 1rem;
}
.mainContacto__cuadro{
    padding: 1rem;
    border: 0.2rem solid white;
}
.mainContacto__leyenda{
    display: none;
}
.mainContacto__form label{
    padding: 0.5rem;
}
.mainContacto__form input{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mainContacto__form textarea{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
}
.mainContacto__boton{
    background-color:#00524B;
    border: 0.5rem solid #00524B;
    color: #F3DFC1;
    cursor: pointer;
}

/* SECTIONS */
/* ****SECTION INDEX MOBILE**** */
.sectionMobile{
    padding: 1.2rem;
}
.sectionMobile__frase{
    color: #F3DFC1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
}
.sectionDesktop {
    padding: 1.2rem;
}
.sectionDesktop:hover{
    transform: scale(1,1.5);
    transition: 1s;
}
.sectionDesktop__frase{
    color: #F3DFC1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
}

/* ****SECTION EVENTOS**** */
.sectionEventos__opcion1 h4{
    color: white;
    margin: 1rem;
}
.sectionEventos__picada{
    display: block;
    margin: auto;
    width: 70%;
    height: auto; 
}
.sectionEventos__picada:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.sectionEventos__opcion2 h4{
    color: white;
    margin: 1rem;
}
.sectionEventos__menu{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}
.sectionEventos__menu:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.h4Eventos{
    margin: 1rem;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.sectionEventos__opcion3{
    display: flex;
    justify-content: space-evenly;
}
.sectionEventos__salmon{
    width: 40%;
    height: auto;
}
.sectionEventos__salmon:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.sectionEventos__panes{
    width: 40%;
    height: auto;
}
.sectionEventos__panes:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

/* ****SECTION QUIENES**** */
.sectionQuienes__div{
    display: none;
}    

/* ASIDES */
/* ****ASIDE EVENTOS**** */
.asideEventos{
    margin-top: 2rem;
}
.asideEventos__amasa{
    display: flex;
    margin-top: 2rem;
}
.asideEventos__amasa img{
    width: 33.335%;
    height: auto;
}
.asideEventos__video{
    display: none;
}

/* ****FOOTER**** */
.footer{
    background-color: white;
}
.footer__imagen{
    display: none;
}
.footer__ul{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    list-style-type: none;
}
.footer__ul a{
    padding: 0.5rem;
    text-decoration: none;
    color:#00524B; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
}
.footer__lugar{
    color: #00524B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5rem;
}

/* DESKTOP */
@media(min-width:992px){

/* ****HEADER**** */
.header__principal{
    background-image: url(./img/logo.png);
    background-color: #00524B;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0.5rem;
}
.header__titulo{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4rem;
    padding: 1rem;
    letter-spacing: 1rem;
    text-align: center;  
    margin-left: 5rem;
}
.header__logo{
    display: none;
}
.header__subtitulo{
    font-size: 2.3rem;
    letter-spacing: 0.7rem;
}
.header__frase{
    font-size: 0.95rem;
    padding-bottom: 1.5rem;
}
.header__nav{
    padding: 1rem;
    margin-left: 2rem;
}
.header__nav li{
    margin-left: 5rem;
}
.header__nav a{
    text-transform: uppercase;
    font-size: 1rem;
    padding: 2rem;
}

/* ****MAIN**** */
.main__imagenes{
    display: flex;
    flex-direction: row;
}
.main__imagenes img{
    width: 33.335%;
    height: auto;
}

.h4{
    font-size: 1.3rem;
}

.main__p{
    font-size: 1.1rem;
    margin: 2rem;
    margin-right: 8rem;
    margin-left: 8rem;
}

/* MAIN TIENDA */
.mainTienda{
    font-size: 1rem;
} 
.mainTienda__leyenda{
    display: block;
    margin-left: 5rem;
    font-size: 1.5rem;
}
.mainTienda__ul{
    margin: 0.5rem;
    list-style-type: none;
    text-align: center;
}
.mainTienda__ul li{
    margin-bottom: 1.5rem;   
    padding: 0.5rem;
    list-style: circle;
    margin-left: 5.5rem;
}
.mainTienda__ul img{
    width: 25rem;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mainTienda__li--moldeintegral{
    margin-top: 1.2rem;
}
.mainTienda__contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.mainTienda__pedidolisto{
    display: block;
}
.mainTienda__pedidolisto img{
    height: 25rem;
    width: auto;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

/* MAIN CONTACTO */
.mainContacto{
    font-size: 1rem;
}
.mainContacto__form{
    margin-left: 5rem;
    margin-right: 5rem;
}
.mainContacto__leyenda{
    display: block;
    font-size: 1.5rem;
    margin-left: 5rem;
}
.mainContacto__form label{
    margin-left: 8rem;
}
.mainContacto__form input{
    width: 40%;
    padding: 0.5rem;
}


/* ****SECTION**** */
.sectionMobile{
    display: none;
}
.sectionDesktop{
    padding: 2.5rem;
}
.sectionDesktop__frase{
    color: #F3DFC1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

/* SECTION EVENTOS */
.sectionEventos__opcion1{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "frase1 picada";
}
.sectionEventos__opcion1 h4{
    color: white;
    margin-left: 11rem;
    margin-top: 10rem;
    grid-area: frase1;
}
.sectionEventos__picada{
    width: 20rem;
    height: auto;
    grid-area: picada;
}
.sectionEventos__opcion2{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    "menu frase2";
}
.sectionEventos__opcion2 h4{
    color: white;
    grid-area: frase2;
    margin-top: 11rem;
}
.sectionEventos__menu{
    width: 30rem;
    height: auto;
    grid-area: menu;
    margin-top: 2rem;
    margin-left: 4rem;
}
.sectionEventos__opcion3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.sectionEventos__opcion3 h4{
    margin-top: 14rem;
    color: white;
}
.sectionEventos__salmon{
    width: 17rem;
    height: auto;
}
.sectionEventos__panes{
    width: 17rem;
    height: auto;
}
.h4Eventos{
    color: #F3DFC1;
    font-size: 1.3rem;
}

/* SECTION QUIENES */
.sectionQuienes{
    background-color: white;
    padding: 2rem;
}
.sectionQuienes__div{
    display: block;
} 
.sectionQuienes__div iframe{
    display: block;
    margin: auto;
}

/* ASIDE */
.asideEventos__amasa{
    display: none;
}
.asideEventos__video{
    display: block;
    margin-top: 1rem;
    width: 100%;
    height: auto;
}

/* ****FOOTER**** */
.footer{
    background-color: #00524B;
}
.footer__imagen{
    display: block;
    width: 100%;
    height: auto;
} 
.footer__ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    list-style-type: none;
}
.footer__ul a{
    color: #F3DFC1;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer__lugar{
    padding: 0.8rem;
    color: #F3DFC1;
    font-size: 0.80rem;
}
}
