@import "variables"; 

/* GENERALES */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: $color-principal;
    font-family: $letra;
}

/* HEADER */
.header__principal{
    background-image: url("./img/logo.png");
    background-color: $color-principal;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin: 0.5rem;
    nav{
        padding: 1rem;
        margin: auto;
        list-style-type: none;
        text-align: center;
    }
    li{
        display: inline-block;
        margin: auto;
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: $color-1;
            padding: 3rem;
            font-size: 1rem;;
            }
    }
    h1{
        color: $color-2;
        font-size: 4rem;
        padding: 1rem;
        letter-spacing: 1rem;
        text-align: center;
        margin: auto;
    }
}
.header__frase{
    color: $color-2;
    text-align: right;
    font-size: 0.95rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

/* MAIN */
.main__imagenes{
    display: flex;
    flex-direction: row;
    img{
        width: 33.335%;
        height: auto;
        &:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
    }
}

/* SECTION */
.sectionDesktop{
    padding: 2.5rem;
    h3{
        color: $color-1;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }
}

/* FOOTER */
.footer{
    background-color: $color-principal;
    color: $color-1;
    img{
        width: 100%;
        height: auto;
    }
    ul{
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
        list-style-type: none;
    }
    a{
        padding: 0.5rem;
        text-decoration: none;
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        color: $color-1;
    }
    p{
        text-align: center;
        margin: 1rem;
        padding: 0.8rem;
        font-size: 0.8rem;
    }
}